*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body{
    background-color: rgb(26, 69, 38);
    padding: 50px;
}

.panel{
    height:450px;
    width:100%;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;

    
}
.top-part{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color:rgb(31, 93, 48);
}

#box{
    height:50px;
    width: 50px;;
    background-color:rgb(107, 222, 107);
}
.element{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 30%;
    font-size:larger;
    font-weight: 500

}

.bottom-part{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap:wrap;
    overflow: hidden;
    margin: 10px 10px;

}
#bubble{
    height: 30px;
    width: 30px;
    background-color: green;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 1000;
    
    
}